<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/chart.js' %>
    <%= javascript_include_tag 'chartkick' %>

    <!-- <%= link_to 'Sign in with Outlook', '/auth/microsoft_graph', id: 'sign_in' %> -->

  </head>

  <body>
    <header>
      <% if current_user %>
        <%= link_to 'Logout', '/logout' %>
      <% else %>
        <%= link_to 'Login with Microsoft', '/auth/microsoft_graph' %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
